#cpu1 {
  color: red;
}

#cpu2 {
  color: blue;
}

#cpu3 {
  color: purple;
}

#cpu4 {
  color: indigo;
}

#cpu5 {
  color: orange;
}

#cpu6 {
  color: green;
}

#cpu7 {
  color: black;
}

#cpu8 {
  color: pink;
}